{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>白名單注冊 - 唔見密碼</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hkgmcwl/style.css' %}">
	</head>
    <body class='ui_basic login-page'>
        {% if error %}
        <div class='flash-container' style="display: block;">
            <div class='flash-alert'>
                {{ error }}
            </div>
        </div>
        {% endif %}
        <div class='container'>
            <div class='content'>
                <center>
                    <h1>睇返你個密碼</h1>
                    <p class='light'>唔該係到打返你高登account個會員編號。</p>    
                </center>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='content'>
                <div class='login-box'>
                    <h3 class='page-title'>睇密碼申請</h3>
                    {% if error %}
                    <form accept-charset="UTF-8" action="../../password" class="new_user" id="new_user" method="get">
                    {% else %}
                    <form accept-charset="UTF-8" action="./password" class="new_user" id="new_user" method="get">
                    {% endif %}
                        <div style="margin:0;padding:0;display:inline"></div>
                        <input autofocus="autofocus" class="text" id="user_login" name="hkg_uid" placeholder="高登會員編號(唔係膠名)" type="text"/>
                        <div>
                            <input class="btn-create btn" name="commit" type="submit" value="申請" style="margin-top:15px"/>
                        </div>
                    </form>
                    <hr>
                    <p class='light' style="line-height:75%">Server地址: www.wtako.net:6500</p>
                    <p class='light' style="line-height:75%">Server地圖: <a href="http://www.wtako.net:6501">www.wtako.net:6501</a></p>
                    <p class='light' style="line-height:75%">Powered by: <a href="//forum.wtako.net">WTAKO SERVER</a></p>
                </div>
            </div>
        </div>
    </body>
</html>