{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Whitelist registration</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hkgmcwl/style.css' %}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'hkgmcwl/handle.js' %}"></script>
        <script type="text/javascript" src="{% static 'hkgmcwl/base64.js' %}"></script>
	</head>
    <body>
        <h1>test</h1>
    </body>
</html>