{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Whitelist registration</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hkgmcwl/style.css' %}">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>
    <body class='ui_basic login-page'>
        <div class='container'>
            <div class='content'>
                <center>
                    <h1>Whitelist registration</h1>
                    <p class='light'>In order to enchance your gaming experience, it's necessary for you to register.</p>    
                </center>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='content'>
                <div class='login-box'>
                    <h3 class='page-title'>Register</h3>
                    <form accept-charset="UTF-8" action="/newuser" class="new_user" id="new_user" method="get">
                    <div style="margin:0;padding:0;display:inline"></div>
                        <input autofocus="autofocus" class="text top" id="hkg_uid" name="hkg_uid" placeholder="HKGolden user ID" type="text" />
                        <input class="text bottom" id="ingame_username" name="ingame_username" placeholder="In-game username" ype="text" />
                        <div>
                            <input class="btn-create btn" name="commit" type="submit" value="Register" />
                        </div>
                    </form>
                    <hr>
                    <p>
                        <span class='light'>Server IP:www.wtako.coms.hk:44444</span>
                        <a href="//www.wtako.coms.hk">WTAKO SERVER</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
