{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Whitelist registration - Password Recovery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hkgmcwl/style.css' %}">
	</head>
    <body class='ui_basic login-page'>
        {% if error %}
        <div class='flash-container' style="display: block;">
            <div class='flash-alert'>
                {{ error }}
            </div>
        </div>
        {% endif %}
        <div class='container'>
            <div class='content'>
                <center>
                    <h1>Password Recovery</h1>
                    <p class='light'>Please enter your HKGolden user ID here.</p>    
                </center>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='content'>
                <div class='login-box'>
                    <h3 class='page-title'>Recovery request</h3>
                    {% if error %}
                    <form accept-charset="UTF-8" action="../" class="new_user" id="new_user" method="get">
                    {% else %}
                    <form accept-charset="UTF-8" action="./" class="new_user" id="new_user" method="get">
                    {% endif %}
                        <div style="margin:0;padding:0;display:inline"></div>
                        <input autofocus="autofocus" class="text" id="user_login" name="hkg_uid" placeholder="HKGolden User ID" type="text"/>
                        <div>
                            <input class="btn-create btn" name="commit" type="submit" value="Request" style="margin-top:15px"/>
                        </div>
                    </form>
                    <hr>
                    <p class='light' style="line-height:75%">Server address: www.wtako.coms.hk:44444</p>
                    <p class='light' style="line-height:75%">Server map: <a href="http://www.wtako.coms.hk:44445">www.wtako.coms.hk:44445</a></p>
                    <p class='light' style="line-height:75%">Powered by: <a href="//forum.wtako.coms.hk">WTAKO SERVER</a></p>
                </div>
            </div>
        </div>
    </body>
</html>