{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Whitelist registration - Validation</title>
        <link rel="stylesheet" type="text/css" href="{% static 'hkgmcwl/style.css' %}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'hkgmcwl/handle.js' %}"></script>
        <style>
        #info-img{
            position:absolute;
            z-index:99;
        }
        </style>
	</head>
    <body class='ui_basic login-page'>
        <img id="info-img" src="{% static 'hkgmcwl/profile.png' %}"/>
        {% if error %}
        <div class='flash-container' style="display: block;">
            <div class='flash-alert'>
                {{ error }}
            </div>
        </div>
        {% endif %}
        <div class='container'>
            <div class='content'>
                <center>
                    <h1>Validation</h1>
                    <p class='light'>Please paste the following code into <a href="http://forum{{ server }}.hkgolden.com/ProfilePage.aspx?userid={{ hkg_uid }}">個人網頁</a> on your HKGolden profile page.</p>    
                </center>
            </div>
        </div>
        <hr>
        <div class='container'>
            <div class='content'>
                <div class='login-box'>
                    <h3 class='page-title'>Validate</h3>
                        <div style="margin:0;padding:0;display:inline"></div>
                        <input autofocus="autofocus" class="text" id="user_login" placeholder="Code" type="text" readonly="readonly" value="{{ validateString }}"/>
                        <div>
                            {% if error %}
                            <button href="../validate" class="btn-create btn" style="margin-top:15px"/>Validate</a>
                            {% else %}
                            <button href="{{ href }}/validate" class="btn-create btn" style="margin-top:15px"/>Validate</a>
                            {% endif %}
                        </div>
                    <hr>
                    <p class='light' style="line-height:75%">Server address: www.wtako.coms.hk:44444</p>
                    <p class='light' style="line-height:75%">Server map: <a href="http://www.wtako.coms.hk:44445">www.wtako.coms.hk:44445</a></p>
                    <p class='light' style="line-height:75%">Powered by: <a href="//forum.wtako.coms.hk">WTAKO SERVER</a></p>
                </div>
            </div>
        </div>
    </body>
</html>